@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <h2>@Model</h2>
    @if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}
    <div class="container text-center">
      <div class="row">
        <div class="col">
          1 of 2
        </div>
        <div class="col">
          2 of 2
        </div>
        <div class="col">
          3 of 3
        </div>
      </div>
      <div class="row">
        <div class="col">
          1 of 3
        </div>
        <div class="col">
          2 of 3
        </div>
        <div class="col">
          3 of 3
        </div>
       </div>
       </div>
    </div>

    <button onclick="LoadContent()">
        KLIK
    </button>

    <div id="partialFarm"></div>


        <script type="text/javascript">  
            $.ajax ({  
                url: '/ Home/FarmInfoPartial',  
                contentType: 'application/html; charset=utf-8',  
                type: 'GET',  
                dataType: 'html'  
                })  
                .success (function (result) {  
                $('#partialFarm').html(result);  
                })  
                .error(function (xhr, status) {  
                alert(status);  
            })  
        
    </script>
