@model AgroApp.Models.MachineServiceModel

@{
    ViewData["Title"] = "Create";
}

<h1>Nowa maszyna</h1>


<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
            <h4>Dodaj przegląd</h4>
            <hr />
            <div class="row">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="MachineId" value="@ViewBag.Id"/>
                    <div class="form-group mb-3">
                        <label asp-for="ServiceDate" class="control-label"></label>
                        <input asp-for="ServiceDate" class="form-control" />
                        <span asp-validation-for="ServiceDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="ServiceInfo" class="control-label"></label>
                        <input asp-for="ServiceInfo" class="form-control" />
                        <span asp-validation-for="ServiceInfo" class="text-danger"></span>
                    </div>
                    <div class="form-group d-grid">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

